.subscribeButton{
    background: var( --yellow-500);
    color: var(--gray-900);
    border: 0;
    width: 260px;
    height: 4rem;
    font-weight: bold;
    font-size: 20px;
   
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition:filter 0.2s;

    &:hover{
        filter: brightness(0.8);
    }

}